APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=poultry_farm
DB_USERNAME=farmuser
DB_PASSWORD=secret

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@yourfarm.co.ke
MAIL_FROM_NAME="Farm OS"

SMS_PROVIDER=africastalking
AT_API_KEY=
AT_USERNAME=sandbox
AT_SENDER_ID=FarmOS

SESSION_LIFETIME=7200
FEATURE_MODE=advanced
